// =======================
// VARIABLES DE COLOR
// =======================

$color-bg: #2c2c2c;
$color-texto: white;
$color-form-label: #333;
$color-titulo: #ccc;

$color-principal: #e63946;
$color-principal-hover: #d62828;

// =======================
// VARIABLES DE FUENTE
// =======================

$font-titulo-size: 2rem;
$font-titulo-size-sm: 1.6rem;

// =======================
// VARIABLES DE IMÁGENES
// =======================

$img-card-height: 200px;
$img-card-height-sm: 150px;
